<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaee.ex11.mapper.DistributeBookMapper">
    <insert id="addDistributeBook" parameterType="distributeBook">
        insert into distribute_book(book_id,user_id,distribute_date,distribute_count)
            values(#{book.bookId},#{user.userId},#{distributeDate},#{distributeCount});
    </insert>
    <select id="findDistributeBooks" resultMap="findDistributeBooksMap">
        select db.*,b.book_name,u.user_name
        from distribute_book db,book b,user u
        where db.book_id=b.book_id and db.user_id=u.user_id
    </select>
    <resultMap id="findDistributeBooksMap" type="distributeBook">
        <id property="distributeBookId" column="distribute_book_id"/>
        <result column="book_id" property="book.bookId"/>
        <result column="user_id" property="user.userId"/>
        <result column="distribute_date" property="distributeDate"/>
        <result column="distribute_count" property="distributeCount"/>
        <result column="book_name" property="book.bookName"/>
        <result column="user_name" property="user.userName"/>
    </resultMap>
</mapper>